In [10]:
import requests
import json
import sqlite3
from sqlite3 import Error
import pandas as pd
from datetime import datetime

In [2]:
# headers = {
#     'x-rapidapi-key': "38bab05df5msh928211553580d9cp181186jsne583ad5bd5cd",
#     'x-rapidapi-host': "free-nba.p.rapidapi.com"
#     }
# page = 1
# results = []
# while True:


#     url = "https://free-nba.p.rapidapi.com/stats"

#     querystring = {"page": page,"per_page":"100"}
#     response = requests.request("GET", url, headers=headers, params=querystring)
#     data = response.json()
#     if len(data['data']) <= 0:
#         break
#     results += data['data']
#     print(response.json())
#     break

#     page += 1

#     print(response.json())

In [3]:
# query nba api for all team data
import requests

url = "https://free-nba.p.rapidapi.com/teams"

querystring = {"page":"0"}

headers = {
    'x-rapidapi-key': "38bab05df5msh928211553580d9cp181186jsne583ad5bd5cd",
    'x-rapidapi-host': "free-nba.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
# store response in variable
data = response.json()

print(data)

{'data': [{'id': 1, 'abbreviation': 'ATL', 'city': 'Atlanta', 'conference': 'East', 'division': 'Southeast', 'full_name': 'Atlanta Hawks', 'name': 'Hawks'}, {'id': 2, 'abbreviation': 'BOS', 'city': 'Boston', 'conference': 'East', 'division': 'Atlantic', 'full_name': 'Boston Celtics', 'name': 'Celtics'}, {'id': 3, 'abbreviation': 'BKN', 'city': 'Brooklyn', 'conference': 'East', 'division': 'Atlantic', 'full_name': 'Brooklyn Nets', 'name': 'Nets'}, {'id': 4, 'abbreviation': 'CHA', 'city': 'Charlotte', 'conference': 'East', 'division': 'Southeast', 'full_name': 'Charlotte Hornets', 'name': 'Hornets'}, {'id': 5, 'abbreviation': 'CHI', 'city': 'Chicago', 'conference': 'East', 'division': 'Central', 'full_name': 'Chicago Bulls', 'name': 'Bulls'}, {'id': 6, 'abbreviation': 'CLE', 'city': 'Cleveland', 'conference': 'East', 'division': 'Central', 'full_name': 'Cleveland Cavaliers', 'name': 'Cavaliers'}, {'id': 7, 'abbreviation': 'DAL', 'city': 'Dallas', 'conference': 'West', 'division': 'Southwest', 'full_name': 'Dallas Mavericks', 'name': 'Mavericks'}, {'id': 8, 'abbreviation': 'DEN', 'city': 'Denver', 'conference': 'West', 'division': 'Northwest', 'full_name': 'Denver Nuggets', 'name': 'Nuggets'}, {'id': 9, 'abbreviation': 'DET', 'city': 'Detroit', 'conference': 'East', 'division': 'Central', 'full_name': 'Detroit Pistons', 'name': 'Pistons'}, {'id': 10, 'abbreviation': 'GSW', 'city': 'Golden State', 'conference': 'West', 'division': 'Pacific', 'full_name': 'Golden State Warriors', 'name': 'Warriors'}, {'id': 11, 'abbreviation': 'HOU', 'city': 'Houston', 'conference': 'West', 'division': 'Southwest', 'full_name': 'Houston Rockets', 'name': 'Rockets'}, {'id': 12, 'abbreviation': 'IND', 'city': 'Indiana', 'conference': 'East', 'division': 'Central', 'full_name': 'Indiana Pacers', 'name': 'Pacers'}, {'id': 13, 'abbreviation': 'LAC', 'city': 'LA', 'conference': 'West', 'division': 'Pacific', 'full_name': 'LA Clippers', 'name': 'Clippers'}, {'id': 14, 'abbreviation': 'LAL', 'city': 'Los Angeles', 'conference': 'West', 'division': 'Pacific', 'full_name': 'Los Angeles Lakers', 'name': 'Lakers'}, {'id': 15, 'abbreviation': 'MEM', 'city': 'Memphis', 'conference': 'West', 'division': 'Southwest', 'full_name': 'Memphis Grizzlies', 'name': 'Grizzlies'}, {'id': 16, 'abbreviation': 'MIA', 'city': 'Miami', 'conference': 'East', 'division': 'Southeast', 'full_name': 'Miami Heat', 'name': 'Heat'}, {'id': 17, 'abbreviation': 'MIL', 'city': 'Milwaukee', 'conference': 'East', 'division': 'Central', 'full_name': 'Milwaukee Bucks', 'name': 'Bucks'}, {'id': 18, 'abbreviation': 'MIN', 'city': 'Minnesota', 'conference': 'West', 'division': 'Northwest', 'full_name': 'Minnesota Timberwolves', 'name': 'Timberwolves'}, {'id': 19, 'abbreviation': 'NOP', 'city': 'New Orleans', 'conference': 'West', 'division': 'Southwest', 'full_name': 'New Orleans Pelicans', 'name': 'Pelicans'}, {'id': 20, 'abbreviation': 'NYK', 'city': 'New York', 'conference': 'East', 'division': 'Atlantic', 'full_name': 'New York Knicks', 'name': 'Knicks'}, {'id': 21, 'abbreviation': 'OKC', 'city': 'Oklahoma City', 'conference': 'West', 'division': 'Northwest', 'full_name': 'Oklahoma City Thunder', 'name': 'Thunder'}, {'id': 22, 'abbreviation': 'ORL', 'city': 'Orlando', 'conference': 'East', 'division': 'Southeast', 'full_name': 'Orlando Magic', 'name': 'Magic'}, {'id': 23, 'abbreviation': 'PHI', 'city': 'Philadelphia', 'conference': 'East', 'division': 'Atlantic', 'full_name': 'Philadelphia 76ers', 'name': '76ers'}, {'id': 24, 'abbreviation': 'PHX', 'city': 'Phoenix', 'conference': 'West', 'division': 'Pacific', 'full_name': 'Phoenix Suns', 'name': 'Suns'}, {'id': 25, 'abbreviation': 'POR', 'city': 'Portland', 'conference': 'West', 'division': 'Northwest', 'full_name': 'Portland Trail Blazers', 'name': 'Trail Blazers'}, {'id': 26, 'abbreviation': 'SAC', 'city': 'Sacramento', 'conference': 'West', 'division': 'Pacific', 'full_name': 'Sacramento Kings', 'name': 'Kings'}, {'id': 27, 'abbreviation': 'SAS', 'city': 'San Antonio', 'conference': 'West', 'division': 'Southwest', 'full_name': 'San Antonio Spurs', 'name': 'Spurs'}, {'id': 28, 'abbreviation': 'TOR', 'city': 'Toronto', 'conference': 'East', 'division': 'Atlantic', 'full_name': 'Toronto Raptors', 'name': 'Raptors'}, {'id': 29, 'abbreviation': 'UTA', 'city': 'Utah', 'conference': 'West', 'division': 'Northwest', 'full_name': 'Utah Jazz', 'name': 'Jazz'}, {'id': 30, 'abbreviation': 'WAS', 'city': 'Washington', 'conference': 'East', 'division': 'Southeast', 'full_name': 'Washington Wizards', 'name': 'Wizards'}], 'meta': {'total_pages': 1, 'current_page': 1, 'next_page': None, 'per_page': 30, 'total_count': 30}}

In [4]:
# write(dump) the json data to a json file
with open('team_data.json', 'w') as json_file:
    json.dump(data, json_file, indent=2)
    json_file.close()

In [5]:
# load data using Python module into var data
with open('team_data.json', 'r') as f:
    data = json.loads(f.read())

In [6]:
# normalize data as it's nested under 'data' and create dataframe
team_data = pd.json_normalize(data, record_path=['data'])
# send df to csv
team_data.to_csv(r'team_data.csv', index=False)

In [7]:

# # found how to create db in sqlite3 here:  https://www.sqlitetutorial.net/sqlite-python/insert/

# def create_connection(db_file):
#     """ create a database connection to a SQLite database """
#     conn = None
#     try:
#         conn = sqlite3.connect(db_file)
#         c = conn.cursor()
#         print(sqlite3.version)
#         # this is extra code to create table and load csv into table.  Was testing here
#         c.execute('''CREATE TABLE players (PLAYER_NAME text, TEAM_ID text, PLAYER_ID text, SEASON int)''')
#         players = pd.read_csv('players.csv')
#         players.to_sql('players', conn, if_exists='append', index=False)
#         c.execute('''SELECT * FROM players''').fetchall()

#     except Error as e:
#         print(e)
#     finally:
#         if conn:
#             conn.close()


# if __name__ == '__main__':
#     create_connection(r"nba_test.db")

In [8]:
# another method of creating db and tables but without function: https://mungingdata.com/sqlite/create-database-load-csv-python/
import sqlite3
# create connection to build new db if nonexistent and cursor to execute queries
conn = sqlite3.connect('nba_test')
c = conn.cursor()

In [9]:
# create table players **testing to see if works**
c.execute('''CREATE TABLE players (PLAYER_NAME text, TEAM_ID text, PLAYER_ID text, SEASON int)''')

OperationalError: table players already exists

In [ ]:
# using pandas to read csv then push data to table created in last cell
players = pd.read_csv('players.csv')
players.to_sql('players', conn, if_exists='append', index=False)

In [11]:
# querying table to verify creation
c.execute('''SELECT * FROM players LIMIT 5''').fetchall()

[("Royce O'Neale", 1610612762, 1626220, 2019),
 ('Bojan Bogdanovic', 1610612762, 202711, 2019),
 ('Rudy Gobert', 1610612762, 203497, 2019),
 ('Donovan Mitchell', 1610612762, 1628378, 2019),
 ('Mike Conley', 1610612762, 201144, 2019)]

In [ ]:
# create rest of tables
players = pd.read_csv('players.csv')
players.to_sql('players', conn, if_exists='append', index=False)
teams = pd.read_csv('teams.csv')
teams.to_sql('teams', conn, if_exists='append', index=False)
games = pd.read_csv('games.csv')
games.to_sql('games', conn, if_exists='append', index=False)
games_details = pd.read_csv('games_details.csv')
games_details.to_sql('games_details', conn, if_exists='append', index=False)
kobe = pd.read_csv('kobe_data.csv')
kobe.to_sql('kobe', conn, if_exists='append', index=False)
lebron = pd.read_csv('lebron_data.csv')
lebron.to_sql('lebron', conn, if_exists='append', index=False)
team_data = pd.read_csv('team_data.csv')
team_data.to_sql('team_data', conn , if_exists='append', index=False)

In [ ]:
# create sqlite table from Kobe csv
kobe = pd.read_csv('kobe_data.csv')
kobe.to_sql('kobe', conn, if_exists='append', index=False)

In [27]:
team_data = pd.read_csv('team_data.csv')
team_data.to_sql('team_data', conn , if_exists='append', index=False)

In [31]:
# create sqlite table from Lebron csv
lebron = pd.read_csv('lebron_data.csv')
lebron.to_sql('lebron', conn, if_exists='append', index=False)

In [32]:
#  checking lebron tabe that was just imported
c.execute('''SELECT * FROM lebron LIMIT 5''').fetchall()

[(406988,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  15412,
  '2005-01-28T00:00:00.000Z',
  20,
  99,
  4,
  0,
  2004,
  'Final',
  ' ',
  6,
  96,
  237,
  'LeBron',
  6,
  8,
  'James',
  'F',
  14,
  250,
  6,
  'CLE',
  'Cleveland',
  'East',
  'Central',
  'Cleveland Cavaliers',
  'Cavaliers'),
 (785018,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  33965,
  '2016-12-14T00:00:00.000Z',
  15,
  93,
  4,
  0,
  2016,
  'Final',
  ' ',
  6,
  85,
  237,
  'LeBron',
  6,
  8,
  'James',
  'F',
  14,
  250,
  6,
  'CLE',
  'Cleveland',
  'East',
  'Central',
  'Cleveland Cavaliers',
  'Cavaliers'),
 (380,
  6.0,
  0.0,
  10.0,
  0.0,
  4.0,
  0.0,
  0.563,
  16.0,
  9.0,
  0.889,
  9.0,
  8.0,
  '37:20',
  2.0,
  3.0,
  26.0,
  12.0,
  1.0,
  6.0,
  16,
  '2018-10-18T00:00:00.000Z',
  25,
  128,
  4,
  0,
  2018,
  'Final',
  ' ',
  14,
  119,
  237,
  'LeBron',
  6,
  8,
  'James',
  'F',
  14,
  250,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (744,
  5.0,
  1.0,
  5.0,
  0.14300000000000002,
  7.0,
  1.0,
  0.409,
  22.0,
  9.0,
  0.7140000000000001,
  7.0,
  5.0,
  '38:52',
  0.0,
  0.0,
  24.0,
  5.0,
  2.0,
  1.0,
  35,
  '2018-10-20T00:00:00.000Z',
  14,
  115,
  4,
  0,
  2018,
  'Final',
  ' ',
  11,
  124,
  237,
  'LeBron',
  6,
  8,
  'James',
  'F',
  14,
  250,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (1181,
  14.0,
  1.0,
  6.0,
  0.25,
  8.0,
  2.0,
  0.44,
  25.0,
  11.0,
  0.727,
  11.0,
  8.0,
  '42:52',
  2.0,
  2.0,
  32.0,
  8.0,
  1.0,
  5.0,
  48,
  '2018-10-22T00:00:00.000Z',
  14,
  142,
  4,
  0,
  2018,
  'Final',
  ' ',
  27,
  143,
  237,
  'LeBron',
  6,
  8,
  'James',
  'F',
  14,
  250,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers')]

In [22]:
c.execute('''SELECT * FROM kobe LIMIT 5''').fetchall()

[(381912,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  13342,
  '2004-03-02T00:00:00.000Z',
  1,
  94,
  4,
  0,
  2003,
  'Final',
  ' ',
  14,
  93,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (578199,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  26867,
  '2010-04-14T00:00:00.000Z',
  13,
  107,
  4,
  0,
  2009,
  'Final',
  ' ',
  14,
  91,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (637833,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  29771,
  '2012-04-26T00:00:00.000Z',
  26,
  113,
  4,
  0,
  2011,
  'Final',
  ' ',
  14,
  96,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (725940,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  28872,
  '2015-02-01T00:00:00.000Z',
  20,
  92,
  4,
  0,
  2014,
  'Final',
  ' ',
  14,
  80,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (730989,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  29825,
  '2015-03-06T00:00:00.000Z',
  15,
  97,
  4,
  0,
  2014,
  'Final',
  ' ',
  14,
  90,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers')]

In [ ]:
# Kobe ID is 977, Lebron ID is 2544
# testing select statement for filtering by player id
c.execute('''SELECT * FROM players WHERE PLAYER_ID = 2544''').fetchall()

In [ ]:
# testing the join statement to get actual game date from games table
c.execute('''SELECT games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id WHERE PLAYER_ID = 2544 LIMIT 5'').fetchall()

In [ ]:
# testing select statement to query additional stats and filtering by player id
# INNER JOIN games ON games.game_id = games_details.game_id  DIDN'T WORK
c.execute('''SELECT [game.date] from kobe LIMIT 10''').fetchall()

In [ ]:
c.execute('''UPDATE kobe SET [game.date] = DATE_FORMAT(STR_TO_DATE([game.date], '%Y-%m-%dT%H:%i:%s.000Z'),'%Y-%m-%d')''')

In [ ]:
# testing select statement to query additional stats and filtering by player id in a DataFrame
pd.read_sql('''SELECT TEAM_ABBREVIATION, PLAYER_NAME, FG_PCT, FG3_PCT, FT_PCT, PTS FROM games_details WHERE PLAYER_ID = 2544''', conn)

In [ ]:
lebron_data = pd.read_sql('''SELECT teams.abbreviation AS opposing_team, visitor_team_id, team_abbreviation, games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id LEFT JOIN teams ON teams.team_id = games.VISITOR_TEAM_ID WHERE PLAYER_ID = 2544''', conn)
lebron_data

In [ ]:
# this is from the original csv and it's not complete for Kobe
kobe_data = pd.read_sql('''SELECT home_team_id, visitor_team_id, team_abbreviation, games_details.team_id, games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id LEFT JOIN teams ON teams.team_id = games.VISITOR_TEAM_ID WHERE PLAYER_ID = 977''', conn)
kobe_data

In [ ]:
teamdata = pd.read_sql('''SELECT * FROM team_data''', conn)
teamdata

In [ ]:
pd.set_option('display.max_columns', None)

In [12]:
# query using new Kobe_data.csv from Kim
#  Available Headers: id,ast,blk,dreb,min,pts,reb,stl,turnover,game.id,game.date,game.home_team_id,game.home_team_score,game.period,game.postseason,game.season,game.status,game.time,game.visitor_team_id,game.visitor_team_score,player.id,player.first_name,player.last_name,player.position,player.team_id,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
# found solution for datetime formatting here: https://www.tutlane.com/tutorial/sqlite/sqlite-strftime-function
Kobe_stats = pd.read_sql('''SELECT [game.id] as "game_id", ast,blk,min,pts,reb,stl,turnover, [game.date] as "date", strftime('%Y', [game.date]) as "Year",[game.home_team_id] as "home_team_id",[game.home_team_score] as "home_team_score", [game.visitor_team_id] as "visitor_team_id",[game.visitor_team_score] as "visitor_team_score" FROM kobe ORDER BY date ASC''', conn)
# Kobe_stats['game.date'] = pd.to_datetime(Kobe_stats['game.date']).dt.date 
Kobe_stats

,game_id,ast,blk,min,pts,reb,stl,turnover,date,Year,home_team_id,home_team_score,visitor_team_id,visitor_team_score
0,2605,NaN,NaN,None,NaN,NaN,NaN,NaN,1996-11-01T00:00:00.000Z,1996,14,96,24,82
1,3282,0.0,1.0,6:22,0.0,1.0,0.0,1.0,1996-11-03T00:00:00.000Z,1996,14,91,18,85
2,3528,0.0,0.0,3:16,1.0,0.0,0.0,1.0,1996-11-05T00:00:00.000Z,1996,20,92,14,98
3,4765,0.0,0.0,6:49,5.0,0.0,0.0,3.0,1996-11-06T00:00:00.000Z,1996,4,88,14,78
4,2495,0.0,1.0,17:15,10.0,3.0,0.0,0.0,1996-11-08T00:00:00.000Z,1996,28,93,14,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,33605,1.0,0.0,27:46,17.0,3.0,1.0,1.0,2016-04-06T00:00:00.000Z,2016,14,81,13,91
1667,33470,4.0,0.0,22:13,14.0,3.0,1.0,2.0,2016-04-08T00:00:00.000Z,2016,19,110,14,102
1668,32782,1.0,0.0,27:26,35.0,2.0,2.0,4.0,2016-04-10T00:00:00.000Z,2016,11,130,14,110
1669,33202,0.0,0.0,18:57,13.0,1.0,1.0,2.0,2016-04-11T00:00:00.000Z,2016,21,112,14,79
1670,33069,4.0,1.0,42:09,60.0,4.0,1.0,2.0,2016-04-13T00:00:00.000Z,2016,14,101,29,96

In [ ]:
c.execute('''SELECT [game.id] as "game_id", ast,blk,min,pts,reb,stl,turnover, [game.date] as "date", strftime('%Y', [game.date]) as "Year",[game.home_team_id] as "home_team_id",[game.home_team_score] as "home_team_score", [game.visitor_team_id] as "visitor_team_id",[game.visitor_team_score] as "visitor_team_score" FROM kobe ORDER BY date ASC''').fetchall()

In [29]:
# c.execute('''SELECT [game.id] as "game_id" FROM kobe''').fetchall()
# I suspect there are duplicates in the table
kobe_total_game_id = c.execute('''SELECT COUNT([game.id]) FROM kobe''').fetchall()
kobe_unique_game_id = c.execute('''SELECT COUNT(DISTINCT [game.id]) FROM kobe''').fetchall()
print(f'There are {kobe_total_game_id} total records in the Kobe table')
print(f'There are {kobe_unique_game_id} unique records in the Kobe table')

There are [(1671,)] total records in the Kobe table
There are [(1671,)] unique records in the Kobe table

In [ ]:
kobe_points = Kobe_stats['pts']
kobe_points

In [18]:
lebron_data['TEAM_ABBREVIATION'].unique()

NameError: name 'lebron_data' is not defined

In [ ]:
 conn.close()

In [ ]:
pd.read_sql('''SELECT * FROM games_details LIMIT 20''', conn)