In [1]:
import requests
import json
import sqlite3
from sqlite3 import Error
import pandas as pd

In [ ]:
# headers = {
#     'x-rapidapi-key': "38bab05df5msh928211553580d9cp181186jsne583ad5bd5cd",
#     'x-rapidapi-host': "free-nba.p.rapidapi.com"
#     }
# page = 1
# results = []
# while True:


#     url = "https://free-nba.p.rapidapi.com/stats"

#     querystring = {"page": page,"per_page":"100"}
#     response = requests.request("GET", url, headers=headers, params=querystring)
#     data = response.json()
#     if len(data['data']) <= 0:
#         break
#     results += data['data']
#     print(response.json())
#     break

#     page += 1

#     print(response.json())

In [ ]:
# with open("data.json", "w") as data_file:
#     json.dump(results, data_file, indent=4)
#     data_file.close()

In [ ]:
# print(data["data"][0]['fg3_pct'])

In [ ]:

# # found how to create db in sqlite3 here:  https://www.sqlitetutorial.net/sqlite-python/insert/

# def create_connection(db_file):
#     """ create a database connection to a SQLite database """
#     conn = None
#     try:
#         conn = sqlite3.connect(db_file)
#         c = conn.cursor()
#         print(sqlite3.version)
#         # this is extra code to create table and load csv into table.  Was testing here
#         c.execute('''CREATE TABLE players (PLAYER_NAME text, TEAM_ID text, PLAYER_ID text, SEASON int)''')
#         players = pd.read_csv('players.csv')
#         players.to_sql('players', conn, if_exists='append', index=False)
#         c.execute('''SELECT * FROM players''').fetchall()

#     except Error as e:
#         print(e)
#     finally:
#         if conn:
#             conn.close()


# if __name__ == '__main__':
#     create_connection(r"nba_test.db")

In [22]:
# another method of creating db and tables but without function: https://mungingdata.com/sqlite/create-database-load-csv-python/
import sqlite3
# create connection to build new db if nonexistent and cursor to execute queries
conn = sqlite3.connect('nba_test')
c = conn.cursor()

In [3]:
# create table players **testing to see if works**
c.execute('''CREATE TABLE players (PLAYER_NAME text, TEAM_ID text, PLAYER_ID text, SEASON int)''')

OperationalError: table players already exists

In [4]:
# using pandas to read csv then push data to table created in last cell
players = pd.read_csv('players.csv')
players.to_sql('players', conn, if_exists='append', index=False)

In [23]:
# querying table to verify creation
c.execute('''SELECT * FROM players LIMIT 5''').fetchall()

[("Royce O'Neale", '1610612762', '1626220', 2019),
 ('Bojan Bogdanovic', '1610612762', '202711', 2019),
 ('Rudy Gobert', '1610612762', '203497', 2019),
 ('Donovan Mitchell', '1610612762', '1628378', 2019),
 ('Mike Conley', '1610612762', '201144', 2019)]

In [6]:
# create rest of tables
teams = pd.read_csv('teams.csv')
teams.to_sql('teams', conn, if_exists='append', index=False)
games = pd.read_csv('games.csv')
games.to_sql('games', conn, if_exists='append', index=False)
games_details = pd.read_csv('games_details.csv')
games_details.to_sql('games_details', conn, if_exists='append', index=False)
kobe = pd.read_csv('kobe_data.csv')
kobe.to_sql('kobe', conn, if_exists='append', index=False)

In [12]:
# create sqlite table from Kobe csv
kobe = pd.read_csv('kobe_data.csv')
kobe.to_sql('kobe', conn, if_exists='append', index=False)

In [25]:
c.execute('''SELECT * FROM kobe LIMIT 5''').fetchall()

[(381912,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  13342,
  '2004-03-02T00:00:00.000Z',
  1,
  94,
  4,
  0,
  2003,
  'Final',
  ' ',
  14,
  93,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (578199,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  26867,
  '2010-04-14T00:00:00.000Z',
  13,
  107,
  4,
  0,
  2009,
  'Final',
  ' ',
  14,
  91,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (637833,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  29771,
  '2012-04-26T00:00:00.000Z',
  26,
  113,
  4,
  0,
  2011,
  'Final',
  ' ',
  14,
  96,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (725940,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  28872,
  '2015-02-01T00:00:00.000Z',
  20,
  92,
  4,
  0,
  2014,
  'Final',
  ' ',
  14,
  80,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers'),
 (730989,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  29825,
  '2015-03-06T00:00:00.000Z',
  15,
  97,
  4,
  0,
  2014,
  'Final',
  ' ',
  14,
  90,
  1043,
  'Kobe',
  None,
  None,
  'Bryant',
  None,
  14,
  None,
  14,
  'LAL',
  'Los Angeles',
  'West',
  'Pacific',
  'Los Angeles Lakers',
  'Lakers')]

In [14]:
# Kobe ID is 977, Lebron ID is 2544
# testing select statement for filtering by player id
c.execute('''SELECT * FROM players WHERE PLAYER_ID = 2544''').fetchall()

[('LeBron James', '1610612747', '2544', 2019),
 ('LeBron James', '1610612747', '2544', 2018),
 ('LeBron James', '1610612739', '2544', 2017),
 ('LeBron James', '1610612739', '2544', 2016),
 ('LeBron James', '1610612739', '2544', 2015),
 ('LeBron James', '1610612739', '2544', 2014),
 ('LeBron James', '1610612748', '2544', 2013),
 ('LeBron James', '1610612748', '2544', 2012),
 ('LeBron James', '1610612748', '2544', 2011),
 ('LeBron James', '1610612748', '2544', 2010),
 ('LeBron James', '1610612739', '2544', 2009),
 ('LeBron James', '1610612747', '2544', 2019),
 ('LeBron James', '1610612747', '2544', 2018),
 ('LeBron James', '1610612739', '2544', 2017),
 ('LeBron James', '1610612739', '2544', 2016),
 ('LeBron James', '1610612739', '2544', 2015),
 ('LeBron James', '1610612739', '2544', 2014),
 ('LeBron James', '1610612748', '2544', 2013),
 ('LeBron James', '1610612748', '2544', 2012),
 ('LeBron James', '1610612748', '2544', 2011),
 ('LeBron James', '1610612748', '2544', 2010),
 ('LeBron James', '1610612739', '2544', 2009),
 ('LeBron James', '1610612747', '2544', 2019),
 ('LeBron James', '1610612747', '2544', 2018),
 ('LeBron James', '1610612739', '2544', 2017),
 ('LeBron James', '1610612739', '2544', 2016),
 ('LeBron James', '1610612739', '2544', 2015),
 ('LeBron James', '1610612739', '2544', 2014),
 ('LeBron James', '1610612748', '2544', 2013),
 ('LeBron James', '1610612748', '2544', 2012),
 ('LeBron James', '1610612748', '2544', 2011),
 ('LeBron James', '1610612748', '2544', 2010),
 ('LeBron James', '1610612739', '2544', 2009)]

In [28]:
# testing the join statement to get actual game date from games table
c.execute('''SELECT games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id WHERE PLAYER_ID = 2544 LIMIT 5'')

c.fetchall()

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-28-acdce021d307>, line 3)

In [16]:
# testing select statement to query additional stats and filtering by player id
# INNER JOIN games ON games.game_id = games_details.game_id  DIDN'T WORK
c.execute('''SELECT GAME_DATE, TEAM_ABBREVIATION, PLAYER_NAME, FG_PCT, FG3_PCT, FT_PCT, PTS FROM games_details LEFT JOIN games ON games.game_id = games_details.game_id WHERE PLAYER_ID = 2544 LIMIT 10''').fetchall()

OperationalError: no such column: GAME_DATE

In [29]:
# testing select statement to query additional stats and filtering by player id in a DataFrame
pd.read_sql('''SELECT TEAM_ABBREVIATION, PLAYER_NAME, FG_PCT, FG3_PCT, FT_PCT, PTS FROM games_details WHERE PLAYER_ID = 2544''', conn)

     TEAM_ABBREVIATION   PLAYER_NAME  FG_PCT  FG3_PCT  FT_PCT   PTS
0                  LAL  LeBron James   0.500    0.500   1.000  10.0
1                  LAL  LeBron James   0.609    0.444   0.833  37.0
2                  LAL  LeBron James   0.571    0.571   1.000  25.0
3                  LAL  LeBron James   0.615    0.500   0.667  22.0
4                  LAL  LeBron James   0.364    0.429   1.000  26.0
...                ...           ...     ...      ...     ...   ...
3373               MIA  LeBron James   0.250    0.250   0.833  10.0
3374               MIA  LeBron James   0.545    0.000   0.500  13.0
3375               MIA  LeBron James   0.625    0.000   0.500  11.0
3376               MIA  LeBron James   0.545    0.000   0.889  20.0
3377               MIA  LeBron James   0.417    0.000   0.000  10.0

[3378 rows x 6 columns]

In [18]:
lebron_data = pd.read_sql('''SELECT teams.abbreviation AS opposing_team, visitor_team_id, team_abbreviation, games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id LEFT JOIN teams ON teams.team_id = games.VISITOR_TEAM_ID WHERE PLAYER_ID = 2544''', conn)
lebron_data

,opposing_team,VISITOR_TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE_EST,PLAYER_NAME,FG_PCT,FG3_PCT,REB,AST,STL,BLK,PF,PTS,PLUS_MINUS
0,ATL,1610612737,LAL,22000640,2021-03-20,LeBron James,0.500,0.5,1.0,4.0,0.0,0.0,0.0,10.0,-5.0
1,ATL,1610612737,LAL,22000640,2021-03-20,LeBron James,0.500,0.5,1.0,4.0,0.0,0.0,0.0,10.0,-5.0
2,ATL,1610612737,LAL,22000640,2021-03-20,LeBron James,0.500,0.5,1.0,4.0,0.0,0.0,0.0,10.0,-5.0
3,ATL,1610612737,LAL,22000640,2021-03-20,LeBron James,0.500,0.5,1.0,4.0,0.0,0.0,0.0,10.0,-5.0
4,ATL,1610612737,LAL,22000640,2021-03-20,LeBron James,0.500,0.5,1.0,4.0,0.0,0.0,0.0,10.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30469,MIA,1610612748,MIA,11200008,2012-10-07,LeBron James,0.417,0.0,6.0,6.0,1.0,0.0,0.0,10.0,NaN
30470,MIA,1610612748,MIA,11200008,2012-10-07,LeBron James,0.417,0.0,6.0,6.0,1.0,0.0,0.0,10.0,NaN
30471,MIA,1610612748,MIA,11200008,2012-10-07,LeBron James,0.417,0.0,6.0,6.0,1.0,0.0,0.0,10.0,NaN
30472,MIA,1610612748,MIA,11200008,2012-10-07,LeBron James,0.417,0.0,6.0,6.0,1.0,0.0,0.0,10.0,NaN
30473,MIA,1610612748,MIA,11200008,2012-10-07,LeBron James,0.417,0.0,6.0,6.0,1.0,0.0,0.0,10.0,NaN

In [30]:
# query using new Kobe_data.csv from Kim
#  Available Headers: id,ast,blk,dreb,min,pts,reb,stl,turnover,game.id,game.date,game.home_team_id,game.home_team_score,game.period,game.postseason,game.season,game.status,game.time,game.visitor_team_id,game.visitor_team_score,player.id,player.first_name,player.last_name,player.position,player.team_id,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
Kobe_stats = pd.read_sql('''SELECT * FROM kobe''', conn)
Kobe_stats

,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,...,player.position,player.team_id,player.weight_pounds,team.id,team.abbreviation,team.city,team.conference,team.division,team.full_name,team.name
0,381912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
1,578199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
2,637833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
3,725940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
4,730989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6679,771510,4.0,0.0,3.0,0.333,9.0,3.0,0.267,15.0,4.0,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
6680,771859,1.0,0.0,2.0,0.364,11.0,4.0,0.455,22.0,10.0,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
6681,771986,0.0,0.0,1.0,0.333,9.0,3.0,0.333,12.0,4.0,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
6682,772263,4.0,1.0,4.0,0.286,21.0,6.0,0.440,50.0,22.0,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers
6683,1068133,4.0,2.0,1.0,0.200,5.0,1.0,0.400,10.0,4.0,...,None,14,None,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Lakers

In [19]:
kobe_data = pd.read_sql('''SELECT home_team_id, visitor_team_id, team_abbreviation, games_details.team_id, games.game_id, game_date_est, player_name, fg_pct, fg3_pct, REB, AST, STL, BLK,PF,PTS,PLUS_MINUS FROM games LEFT JOIN games_details ON games.game_id = games_details.game_id LEFT JOIN teams ON teams.team_id = games.VISITOR_TEAM_ID WHERE PLAYER_ID = 977''', conn)
kobe_data

,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_ID,GAME_ID,GAME_DATE_EST,PLAYER_NAME,FG_PCT,FG3_PCT,REB,AST,STL,BLK,PF,PTS,PLUS_MINUS
0,1610612753,1610612747,LAL,1610612747,40800405,2009-06-14,Kobe Bryant,0.435,0.4,6.0,5.0,2.0,4.0,2.0,30.0,14.0
1,1610612753,1610612747,LAL,1610612747,40800405,2009-06-14,Kobe Bryant,0.435,0.4,6.0,5.0,2.0,4.0,2.0,30.0,14.0
2,1610612753,1610612747,LAL,1610612747,40800405,2009-06-14,Kobe Bryant,0.435,0.4,6.0,5.0,2.0,4.0,2.0,30.0,14.0
3,1610612753,1610612747,LAL,1610612747,40800405,2009-06-14,Kobe Bryant,0.435,0.4,6.0,5.0,2.0,4.0,2.0,30.0,14.0
4,1610612753,1610612747,LAL,1610612747,40800405,2009-06-14,Kobe Bryant,0.435,0.4,6.0,5.0,2.0,4.0,2.0,30.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19831,1610612747,1610612744,LAL,1610612747,11200009,2012-10-07,Kobe Bryant,0.286,0.0,0.0,3.0,0.0,0.0,2.0,10.0,NaN
19832,1610612747,1610612744,LAL,1610612747,11200009,2012-10-07,Kobe Bryant,0.286,0.0,0.0,3.0,0.0,0.0,2.0,10.0,NaN
19833,1610612747,1610612744,LAL,1610612747,11200009,2012-10-07,Kobe Bryant,0.286,0.0,0.0,3.0,0.0,0.0,2.0,10.0,NaN
19834,1610612747,1610612744,LAL,1610612747,11200009,2012-10-07,Kobe Bryant,0.286,0.0,0.0,3.0,0.0,0.0,2.0,10.0,NaN
19835,1610612747,1610612744,LAL,1610612747,11200009,2012-10-07,Kobe Bryant,0.286,0.0,0.0,3.0,0.0,0.0,2.0,10.0,NaN

In [20]:
lebron_data['TEAM_ABBREVIATION'].unique()

array(['LAL', 'CLE', 'MIA'], dtype=object)

In [21]:
 conn.close()